@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: none;
}

body {
    color: #4f646f;
}

.left-transition {
    transition-property: left;
    transition-duration: 0.5s;
}

h1, .heading-1 {
    font-size: 28px;
    font-weight: 500;
}

h2, .heading-2 {
    font-size: 18px;
    font-weight: 500;
}